/* START PHONEBOOK.SCSS */

.phoneBook {
    &__list {
        margin: 56px 0;

        @media #{$laptop} {
            margin: 80px 0;
        }

        .title {
            display: none;

            @media #{$laptop} {
                display: grid;
                grid-template-columns: 22% 22% 16% 23%;
                gap: 64px;
                margin-bottom: 24px;
            }

            p {
                margin: 0
            }
        }

        article {
            display: grid;
            grid-template-columns: 100%;
            gap: 32px;
            padding-bottom: 32px;
            margin-bottom: 32px;
            border-bottom: 1px solid $grey100;

            @media #{$laptop} {
                grid-template-columns: 19% 22% 19% 23%;
                gap: 56px;
            }

            h2 {
                font-weight: 700;
                font-size: 22px;
                line-height: 28px;
                margin: 0;
            }

            .tags {
                flex-direction: column;
                margin: 0;
            }

            &:last-child {
                padding-bottom: 0;
                margin-bottom: 0;
                border-bottom: 0;
            }
        }
    }

    .pagination {
        margin-top: 50px;
        justify-content: center;

        @media #{$laptop} {
            margin-top: 80px;
        }
    }
}

/* END PHONEBOOK.SCSS */